{% load static %}

<link href="{% static 'mentalcare/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'mentalcare/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'mentalcare/css/color.css' %}" rel="stylesheet">
<link href="{% static 'mentalcare/css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'mentalcare/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'mentalcare/css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'mentalcare/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'mentalcare/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link rel="icon" type="image/png" href="{% static 'mentalcare/images/fav.png' %}" />