{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<!--Main Content Start-->
<div class="main-content">
  <!--Welcome Section-->
  <section class="welcome-section">
    <div class="container">
      <div class="row">
        <div class="welcome-box">
          <div class="col-md-6 col-sm-6">
            <div class="welcome-text">
              <div class="sectio-title-2"> <strong>Welcome to your</strong>
                <h2>Doctor's Heaven</h2>
              </div>
              <p> The D Heaven Care Psychiatric Hospital have latest technology machines with experty Neuro specialist
                doctors ..Our prime motive is to treat patients like never before with Expertise neuro skills.Site manages and 
              keep records of various appointments and cases handled so far ,for basic help you can checkout that.</p>
              <p>This Project is completely supportive and with no harm to others .Any issues regarding site will be given priority.So be interactive 
                and a good Servicemen. </p>
              <strong class="signature">Nitin Gangwar</strong>
              <h6 class="designation">NG Psychiatric D Heaven</h6>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="welcome-img"> <img src="{% static 'mentalcare/images/welcome.jpg' %}" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Welcome Section End-->

  <!--Home Services Start-->
  <section class="home-features">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="features-box">
            <h3>Regular Monitoring</h3>
            <p>Regular Monitoring time to time Without any delay-Emergency cases Will be given high priority.</p>
            <a href="appointment.html">Get Free Appointment</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features-box selected">
            <h3>First Aid</h3>
            <p>Neverthless Ending facilities to provide basic amenties service like first aid to our patients. </p>
            <a href="contact-2.html">Contact Us</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features-box">
            <h3>Emergency Help</h3>
            <p><span>Monday-Friday:</span> Full Day<br>
              <span>Satuday:</span> Full Day<br>
              <span>Sunday:</span> 7:00am - 05:00pm<br>
            </p>
            <a href="#">Call for Info: +919997461997</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Home Services End-->

  <!--Services Section Start-->
  <section class="home-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3"> <strong>Our Departments</strong>
            <h2>Departmental Services</h2>
          </div>
        </div>

        <!--service style 1-->
        <div class="col-md-12">
          <div class="service-style-1">
            <div class="row">
              <!--service box start-->
              {% for service in services %}
              <div class="col-md-3 col-sm-3">
                <div class="service-box">
                  <div class="ser-thumb"> <a href="{% url 'service_details' service.id %}" class="view"><i
                        class="fa fa-heartbeat" aria-hidden="true"></i></a> <img src="{{ service.thumbnail.url }}"
                      alt="">
                  </div>
                  <div class="ser-content">
                    <h3><a href="{% url 'service_details' service.id %}">{{ service.title }}</a></h3>
                    <p>{{ service.description|truncatewords:15 }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!--service box End-->
            </div>
          </div>
        </div>
        <!--service style 1 End-->

      </div>
    </div>
  </section>
  <!--Services Section End-->

  <!--Heart Care Start-->
  <section class="heart-care-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3 white"> <strong>Our Core</strong>
            <h2>Expert Services</h2>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#service-1" aria-controls="service-1" role="tab"
                data-toggle="tab"> <i class="fa fa-graduation-cap"></i> Experienced Surgeons</a></li>
            <li role="presentation"><a href="#service-2" aria-controls="service-2" role="tab" data-toggle="tab"> <i
                  class="fa fa-heartbeat"></i> Special Treatments</a></li>
            <li role="presentation"><a href="#service-3" aria-controls="service-3" role="tab" data-toggle="tab"> <i
                  class="fa fa-cloud"></i> Healthy Environment</a></li>
            <li role="presentation"><a href="#service-4" aria-controls="service-4" role="tab" data-toggle="tab"> <i
                  class="fa fa-user-md"></i> Talented Neurologist</a></li>
            <li role="presentation"><a href="#service-5" aria-controls="service-5" role="tab" data-toggle="tab"> <i
                  class="fa fa-medkit"></i> High Tech Equipments</a></li>
            <li role="presentation"><a href="#service-6" aria-controls="service-6" role="tab" data-toggle="tab"> <i
                  class="fa fa-umbrella"></i> Personalized Care</a></li>
          </ul>
        </div>
        <div class="col-md-7 col-sm-7">

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="service-1">
              <div class="ser-tab-text">
                <h3>Experienced Surgeons</h3>
                <p> <i class="fa fa-graduation-cap"></i> People often turn to substance abuse or alcohol and drugs to deal with their issues instead of getting help, that can turn into an addiction. A psychiatrist helps patient through all types of mental distresses, including addiction, family problems, health problems, mental disorders, social identity crisis etc. </p>
                <ul>
                  <li><i class="fa fa-check"></i> Highly Qualified Surgeons.</li>
                  <li><i class="fa fa-check"></i> Experience more than 5 years.</li>
                  <li><i class="fa fa-check"></i> Specialised in the specific field.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-2">
              <div class="ser-tab-text">
                <h3>Special Treatments</h3>
                <p> <i class="fa fa-heartbeat"></i> Special Treatments for those who are financially challenged 
                  or are not having even basic amenities to get over upto a doctor.
                   </p>
                <ul>
                  <li><i class="fa fa-check"></i> Money doesn't matters matters a life.</li>
                  <li><i class="fa fa-check"></i> Value to your nerves.</li>
                  <li><i class="fa fa-check"></i> Special Treatments.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-3">
              <div class="ser-tab-text">
                <h3>Comfort Environment</h3>
                <p> <i class="fa fa-cloud"></i> Comfort and health of patients and staff, related to the physical environment of different departments in hospitals
                     </p>
                <ul>
                  <li><i class="fa fa-check"></i> Indoor air Quality .</li>
                  <li><i class="fa fa-check"></i> Friendly and joyful behaviour.</li>
                  <li><i class="fa fa-check"></i> Ensures overall Quality of Surroundings.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-4">
              <div class="ser-tab-text">
                <h3>Talented Neurologist</h3>
                <p> <i class="fa fa-user-md"></i> 
                   </p>
                <ul>
                  <li><i class="fa fa-check"></i> Talented well experienced neurologists.</li>
                  <li><i class="fa fa-check"></i> Having Free hands in their area.</li>
                  <li><i class="fa fa-check"></i> Boosts confidence of patients.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-5">
              <div class="ser-tab-text">
                <h3>High Tech Equipments</h3>
                <p> <i class="fa fa-medkit"></i> We provide you the best Treatment with proper hightech
                  equipments without compromising the quality of tools used.
                   </p>
                <ul>
                  <li><i class="fa fa-check"></i> Ultrasonic Therapy.</li>
                  <li><i class="fa fa-check"></i> Brain stimulation through Wired neural network.</li>
                  <li><i class="fa fa-check"></i> Pacemaker check.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-6">
              <div class="ser-tab-text">
                <h3>Personalized Care</h3>
                <p> <i class="fa fa-umbrella"></i> We believe in one to one Problems handling instead of messing them up
                   </p>
                <ul>
                  <li><i class="fa fa-check"></i> one to one Treatment.</li>
                  <li><i class="fa fa-check"></i> follow a queue up approach.</li>
                  <li><i class="fa fa-check"></i> Gentle and healthy care to patients.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Heart Care End-->


  <!--Team Start-->
  <section class="team">
    <div class="container">
      <div class="row">
        <div class="section-title-3"> <strong>Our Team</strong>
          <h2>Expert Team</h2>
        </div>
      </div>
      <div class="row">
        {% for doctor in experts|slice:':4' %}
        <div class="col-md-3 col-sm-6">
          <div class="team-box mb50">
            <div class="team-thumb"> <a href="{% url 'doctor_details' doctor.id %}" class="view"><i class="fa fa-Heart"
                  aria-hidden="true"></i></a> <img src="{{ doctor.picture.url }}" alt=""></div>
            <div class="team-text">
              <h5><a href="{% url 'doctor_details' doctor.id %}">{{ doctor.name }}</a></h5>
              <strong>{{ doctor.speciality }}</strong>
              <ul class="team-social">
                {% if doctor.twitter %}
                <li><a class="tw" href="{{ doctor.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                {% endif %}
                {% if doctor.facebook %}
                <li><a class="fb" href="{{ doctor.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if doctor.instagram %}
                <li><a class="insta" href="{{ doctor.instagram }}"><i class="fa fa-instagram"
                      aria-hidden="true"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--Team End-->


  <!--Testimonials + Faqs Start-->
  <section class="testi-faq">
    <div class="container">
      <div class="row">

        <!--Testimonials Start-->
        <div class="col-md-6">
          <div class="home-testimonials">
            <div class="sectio-title-2"> <strong>Read What Says Our</strong>
              <h2>Happy Patients</h2>
            </div>
            <div id="testimonial-slider" class="owl-carousel owl-theme">

              <!--Slider Start-->
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'mentalcare/images/tuser.jpg' %}" alt=""> <strong>Dakota 
                      Jhonson</strong>
                    <i>A Personality disorder patient</i> </div>
                  <div class="test-text">
                    <p>An excellent hospital and a neurologists. Gives you the best Treatment with proper hightech
                      equipments without compromising the quality of tools used.
                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'mentalcare/images/tuser-2.jpg' %}" alt=""> <strong>AJAY
                      Bhanushali</strong>
                    <i>A PTSD patient</i> </div>
                  <div class="test-text">
                    <p>An excellent hospital and a Neurologists.Dr. Sudhir regularly calls me to get acknowledgement for 
                      my mental stability.Great service and care .thanks

                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'mentalcare/images/tuser.jpg' %}" alt=""> <strong>Billy
                     Margrove</strong>
                    <i>A High Dimentia active patient</i> </div>
                  <div class="test-text">
                    <p>An exellent hospital and a Neurologists. Thanks for such a gentle care i feel much better now.
                    </p>
                  </div>
                </div>
              </div>

              <!--Slider End-->

            </div>
          </div>
        </div>
        <!--Testimonials End-->

        <!--FAQ Start-->
        <div class="col-md-6">
          <div class="home-faq">
            <div class="sectio-title-2"> <strong>Feel Free For</strong>
              <h2>Any FAQ’s</h2>
            </div>
            <div class="faqs">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion"
                        href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> How much you charge
                        for consultancy </a> </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body"> Our commercialization strategy involves a rapid development of
                      treatments for brain dimentias with an initial focus on the highly developed technology.charges are nominal </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What kind of patients do you treat? </a> </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body"> Our commercialization strategy involves a rapid development of
                      treatments for treatment of mentally challenging patients ,trauma or short term dimentia. </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree"> Where does my refering Neurologist go? </a> </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingThree">
                    <div class="panel-body"> They go no where You get access to them through phone calls or physical appointment.
                 </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--FAQ End-->

      </div>
    </div>
  </section>
  <!--Testimonials + Faqs End-->

</div>
<!--Main Content End-->
{% endblock maincontent %}